.list-produtos{
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    
    margin-top: 15px;
    margin-bottom: 15px;
}