.barra-produtos{
    border-top: 3px solid #d6e9f1;
    width: 100vw;
    background: #000000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra-produtos nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-link-barra{
    
    text-decoration: none;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin: 0px 20px;
    font-size: 18px;
}

.btn-link-barra:hover{
    border-bottom: 3px solid rgb(37, 151, 218);
}

#ponto{
    padding: 0;
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    color: aqua;
}