.s-publicidade{
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.texto{
    margin: 0px 10px;
    width: 100%;
    max-width: 400px;
}
.texto h3{
    font-weight: 500;
    color: rgb(0, 0, 0);
    word-wrap:  break-word;
    text-align: justify;
}

.p-images{
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-images img{
    width: 400px;
    height: 500px;
    
}

.colors{
    display: flex;
    align-items: center;
    justify-content: center;

}

.listcolor{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.listcolor span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px #888;
    transition: all 0.5s;
}


.listcolor span:hover{
    opacity: .80;
}
#green{
    background: #384937;
}
#pink{
    background: #f8ddd6;
}
#blue{
    background: #225f7e;
}
#black{
    background: #192028;
}
#white{
    background: #f7f2ee;
}
#red{
    background: #ae0617;
}
